ALFC_SOAP/ALFC_SOAP/ALFC_SOAP.Android/bin/*
ALFC_SOAP/ALFC_SOAP/ALFC_SOAP.WinPhone/Bin/*
ALFC_SOAP/ALFC_SOAP/ALFC_SOAP/bin/*
ALFC_SOAP/ALFC_SOAP/ALFC_SOAP.Android/bin/Debug/*
ALFC_SOAP/ALFC_SOAP/ALFC_SOAP.Android/bin/Debug/*
ALFC_SOAP/ALFC_SOAP/ALFC_SOAP.WinPhone/Bin/Debug/*.*
ALFC_SOAP/ALFC_SOAP/ALFC_SOAP/obj/Debug/*.*
