<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.XamForms.Mobile" version="2.0.4" targetFramework="xamarinios10" />
  <package id="Acr.XamForms.UserDialogs" version="3.0.4" targetFramework="xamarinios10" />
  <package id="Autofac" version="3.5.2" targetFramework="xamarinios10" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="xamarinios10" />
  <package id="MonoTouch.SlideoutNavigation" version="0.1.1" targetFramework="xamarinios10" />
  <package id="MvvmLight" version="5.1.1.0" targetFramework="xamarinios10" />
  <package id="MvvmLightLibs" version="5.1.1.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="xamarinios10" />
  <package id="SQLite.Net.Platform.XamarinIOS" version="2.5.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net-PCL" version="2.5.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook" version="3.22.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.4.0.6341" targetFramework="xamarinios10" />
</packages>