<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="14" />
	<application android:label="SOAP Journal" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>